doctype html 
html(lang="ko")
    head
        title #{title} | Recap 
        link(rel="shortcut icon", href="#") 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            a(href="/") Go to Home
            form(method="GET", action="/search")
                input(name="search",placeholder="Search Video")
                button Search
        main 
        block content
    include partials/footer