doctype html 
html(lang="ko")
    head
        title #{title} | Recap 
        link(rel="shortcut icon", href="#") 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        div 
        nav
            ul
                li
                    a(href="/") Go to Home
                if (!loggedIn)
                    li 
                        a(href="/Join") Join
                    li 
                        a(href="/login") Log in
                else
                    li 
                        a(href="/logout") Log Out
                    li
                        a(href="/users/edit") Profile
        header
            form(method="GET", action="/search")
                input(name="search",placeholder="Search Video")
                button Search
        main
            block content
    include partials/footer