extends base

block content
    if err
        h3=err
    form(method="POST")
        input(name="oldPassword",placeholder="Existing Password", type="password", required, maxlength=30, minlength=8)
        small 대・소문자, 숫자, 특수문자를 모두 사용
        input(name="password",placeholder="New password", type="password", required, maxlength=30, minlength=8)
        input(name="password2",placeholder="Confirm password", type="password", required, maxlength=30, minlength=8)
        button Change