extends base
include mixins/video

block content 
    h1 Home
    if err
        h3=err.message
    div
        a(href="videos/upload") Upload Video&rarr;
    each video in videos
        +video(video)
    else
        h3 No Video