extends base

block content 
    if err 
        h1=err.message
    else
        form(method="POST")
            input(name="username",placeholder="username", required)
            input(name="password",placeholder="password", type="password", required)
            input(name="email",placeholder="E-mail", type="email", required)
            button Join