extends base
block content
    if err 
        h1=err.message
    else
        h1 Video Upload
    form(method="POST")
        input(name="title", placeholder="title", required, maxlength= 80)
        input(name="description", placeholder="description", required, maxlength= 200)
        input(name="hashtags", placeholder="hashtags", required)
        button Upload