extends base
include mixins/video

block content 
    if err 
        h1=err.message 
    else
        div 
            h3 `Video Title: #{video.title}`
            if(video.views !== 0)
                samll #{video.views} #{video.views === 1 ? "view" : "views"}
            br
            a(href=+video._id+"/edit") Edit &rarr;
        
        each info in otherVideo
            +video(info)
        else 
            h3 No Commend
